CREATE DATABASE [BdContactosJPB] ON  PRIMARY 
( NAME = N'BdContactosJPB', FILENAME = N'c:\SQLDatos\BdContactosJPB.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BdContactosJPB.log', FILENAME = N'c:\SQLDatos\BdContactosJPB_log.ldf' , SIZE = 1024KB , FILEGROWTH = 1024KB )


GO
USE [BdContactosJPB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [BdContactosJPB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
